# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Datasets and Large Data Files
*.csv
*.tsv
*.zip
model/Amazon_review_dataset.csv

# Machine Learning Models
*.pkl
*.h5
*.pt
*.pth
backend/model.pkl
backend/tfidf.pkl

# Logs
*.log
.pytest_cache/

# IDE / Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
